h1{
    color:blue;
}

#heading-2{
    color:red;
}
.heading{
    color:purple;
}
.para{
    border:3px;
    border-style:solid;
    border-color:greenyellow;
    padding:20px;
    text-align:center;
}