h1{
    color:blue;
}

#heading-2{
    color:red;
}
.heading{
    color:purple;
}
.para{
    border:3px;
    border-style:solid;
    border-color:greenyellow;
    padding:20px;
    text-align:center;
}
.navbar{
    border:4px;
    border-style:solid;
    border-color:palevioletred;
    padding:15px;
    background-color:lightsalmon;
    text-align:center;
}
.navbar a{
    color:cornflowerblue;
    padding:15px;
    text-decoration:none;
    

}
.navbar a:hover{
    background-color:darkgray;
    color:rgb(37, 78, 160);


}
body{
    margin:0;
}